.c-pane {
  list-style-type: none;
  position: relative;

  &__link {
    display: block;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: spacing(sm);
    opacity: 0;
    background-color: $background-modal;
    overflow: hidden;

    @include screen(sm) {
      padding: spacing(lg);
    }
  }

  &:hover {
    cursor: pointer;

    & .c-pane__overlay {
      opacity: .8;
    }
  }
}
