// Backgrounds
$background: color("white", 0);
$background-alt: color("cool-white", 2);
$background-modal: color("black", 100);

//Borders
$border: color("cool-gray", 1);

// Typography
$text-background: color("white", 0);
$text-meta: color("cool-gray", 40);
$text-body: color("cool-gray", 60);
$text-heading: color("cool-gray", 80);
$text-link: color("cool-gray", 80);
$text-link-hover: color("indigo", 60);
$text-code: color("aqua", 50);
$text-success: color("green", 50);
$text-error: color("red", 50);

// Primarys
$primary-light: color("magenta", 10);
$primary: color("magenta", 50);
$primary-medium: color("magenta", 70);
$primary-dark: color("magenta", 80);

// Accents
$accent-light: color("magenta", 10);
$accent: color("magenta", 20);
$accent-neutral: color("cool-gray", 30);

// Icons
$icon-neutral: color("cool-gray", 30);
$icon-dark: color("cool-gray", 80);
$icon-primary-light: color("magenta", 10);
$icon-primary: color("red", 60);

// Status
$status-success: color("green", 50);
$status-error: color("red", 50);
